<div id="qynh-child">
<div class="row" style="padding-left: 40px;" >
    <h2 class="text-center">企业日能耗统计</h2>
    <br>
    <div class="col-xs-12 col-md-5 col-lg-5 ">
        企业名称：
        <select name="" id="name" class="input-sm" >
        </select>
    </div>
    <div class="col-xs-12 col-md-7 col-lg-7 " >
        <button type="button" name="btn_sub" class="btn btn-info" id="clickNH" >统计</button>&nbsp;
        <input type="reset" value="清空" class="btn btn-info"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-7 col-lg-7" style="padding-left: 70px; ">
        <br>
        使用说明：
        <br>
        <br>
        1、采用饼状图统计企业尖、峰、谷及总电能的占比<br/><br/>
        2、可按照企业名称和时间进行统计
    </div>
</div>
<br class="clear" />
<div class="col-md-10 col-md-offset-1">
    <div id="ele" style="width: 100%; height: 400px; border: 1px solid #ccc; padding: 10px;">

    </div>
</div>
</div>