<div class='container-fluid nav-top-cont' id="new-nav">
    <div class="menu-font row ">
        <div class="col-md-5 col-sm-5">
            <div class="navbar-header">
                <a href="main">
                 <img src="/static/picture/logo_jiaxing.png" id="company-logo" />
             </a>
            </div>
        </div>
        <div class="col-md-5 col-sm-5" style="height: 81px;">
            <div class="navbar-menu" id="navbar-menu">
                <div id='top-main-menu'>
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="main">首页</a></li>
                        <li><a href="indexDnhgl">绿色.低碳.能源.大数据平台</a></li>
                        <li><a href="yqfw" role="button">智慧园区服务</a></li>
                    </ul>
                </div>
                <a href='javascript:toggleMore();' class='btn' id='top-nav-bt'>
                 <i class="fa fa-bars" aria-hidden="true"></i>
             </a>
                <div id='nav-login-area'>
                    <div id='top-my-menu'>
                        <a href='main' class='btn'>首页</a>
                        <!--低碳.能源.环境管理平台-->
                        <a href='indexDnhgl' class='btn'>低碳能源平台</a>
                        <a href='yqfw' class='btn'>园区服务</a>
                        <a href='javascript:void (0)' class='btn'></a>
                        <a href='javascript:void (0)' class='btn'></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
                <div id="before-login">
                    <span id="log"><a href="login">登录</a></span>
                </div>
        </div>
    </div>
</div>